.navbar-brand {
    width: 300px;
    height: 100px;
}

.image-resize-mode {
    width: 150px;
    height: 150px;
}

.citation-color {
    color: black;
}

.social-color {
    color: black;
}

#contact:focus {
    border-bottom: 2px solid orangered;
}

#index:focus {
    border-bottom: 2px solid orangered;
}